<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>FiftyWeather</title>

</head>
<body> 
  <div class = "container">
    <h1>FiftyWeather</h1>
    <input type="text" id="cityInput" placeholder="enter a city">
    <button id="searchBtn">Search</button>
    <div id="weatherResult"></div>
  </div> 
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>